@media (max-width: 767px){

/* css for header */
    /* élément d'arrière plan menu navigation */


    /* css for mozaique */
   
    .mozaique-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        /* row-gap: 10px; */
    }

    /* css for container-section */
    .container-section{
        display: flex;
        flex-direction: column;
    }

    /* css for aPropos.html */
    section.aPropos{
        background-color: #fef7ee;
        display: flex;
        flex-direction: column;
        font-family: serif;
        margin-top: 70px;
    }
    
        div.aPropos-container, div.pratique-container{
            display: grid;
            grid-template: 1fr / 1fr;          
        }
            div.textApropos p{
                font-size: larger;
                padding: 20px 40px 40px 40px;
            }
    
            div.textApropos{
                margin-top: 20px;
            }

    /* css for section-contact */


    /* OVERLAY */
            

    /* css for footer */
    footer{
        background-color: beige;
        position : relative;
        color: #494040;
        margin-bottom: 0;
        padding-bottom: 0;
    }
        .icn-container{
            justify-items: center;
        }
}