body, .container-horaire{
    background-color: #fef7ee;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #684e3fc4;
}
nav, footer{
    background-color: beige;
}
/* .dashed{
    border: 2px dashed green;
} */
nav{
    color: #809340;
    font-weight: bolder;
    text-decoration: none;
    box-shadow: 0px 8px 8px -6px #684e3fc4;
}
nav:hover{
    color: darkgreen;
}
section.aPropos{
    font-family: serif;
}
div.textApropos p{
    font-size: large;
}
.logo{
    width: 60px;
}
.logo img{
    width: 100%;
}   
.logo{
    border-radius: 50%;
    border: 2px solid #d0d9b3;
}
.logo:hover{
    border-radius: 50%;
    border: 2px solid darkgreen;
    transform: scale(1.1);
}
li a.nav-link{
    color: #809340;
    font-weight: bold;
}
li a.nav-link:hover{
    color: darkgreen;
    transform: scale(1.1);
}
a.nav-link.active {
    color: darkgreen !important;
}

.mozaique-item img{
    border: solid 2px #d0d9b3;
    border-radius: 10px;
}
/* table */
table{
    background-color: #fef7ee;
}
.container-horaire th, .container-horaire td{
    /* color: #0d6dfc;  */
    color: #34271fc4;
}
table th{
    border-radius: 10px 10px 0 0;
}

/* css modal */

.custom-modal {
    width: 100%;
    height: 100%;
    max-width: 90%;
    max-height: 90%;
    margin-top: 10vh;
    margin :  0 auto ; /* Centre horizontalement et donne une marge en haut */
    border-radius: 10px; 
}

.modal-content, .ƒmodal {
    border-radius: 10px; /* Arrondi les bords */
} 



@keyframes changeColor {
  0%   {color: rgba(243, 17, 17, 0.892);}
  25%  {color: rgb(248, 114, 4);}
  50%  {color: pink;}
  75%  {color: rgb(246, 25, 187);}
  100% {color: rgb(233, 77, 207);} 
} 
.btn-annonce a{
    text-decoration : none ;
    animation-name : changeColor;
    animation-duration : 3s ;
    animation-iteration-count : infinite;
    animation-delay : 1s;
}

.close{
   position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}